/**
 *  Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat:400,700|Ropa+Sans&display=swap');

/**
 *  Colors
 */
    
$black: #000000
$dark: #333333
$medium: #737373
$light: #F6F7F8
$white: #FFFFFF
$primary: #FF4C4C
$secondary: #011627
$tertiary: #F3D250
$quaternary: #5DA2D5
$clear: transparent

/**
 *  General
 */

body
    font-family: 'Montserrat', sans-serif
    outline: none

textarea:focus, input:focus, *:focus
    outline: none !important