@import '../../styles/app'

.wrapper
    // NOTE: background overflows on different cases. fix later :)

.overlay
    top: 0
    right: 0
    bottom: 0
    left: 0
    position: absolute
    background-color: $primary

.bg
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    background-size: cover !important
    background-repeat: no-repeat !important
    background-position: center !important